In [2]:
import pandas as pd
import numpy as np

In [6]:
df= pd.read_csv(r"C:\Users\Sakshi\Downloads\IPL_Histroy_2008-2024.csv")
df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,match_year
0,1,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NA,NA,NaN,2008
1,1,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,,0,NA,NA,NaN,2008
2,1,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NA,NA,NaN,2008
3,1,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,,0,NA,NA,NaN,2008
4,1,1,Kolkata Knight Riders,Royal Challengers Bengaluru,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,,0,NA,NA,NaN,2008

In [9]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260920 entries, 0 to 260919
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          260920 non-null  int64
 1   inning            260920 non-null  int64
 2   batting_team      260920 non-null  object
 3   bowling_team      260920 non-null  object
 4   over              260920 non-null  int64
 5   ball              260920 non-null  int64
 6   batter            260920 non-null  object
 7   bowler            260920 non-null  object
 8   non_striker       260920 non-null  object
 9   batsman_runs      260920 non-null  int64
 10  extra_runs        260920 non-null  int64
 11  total_runs        260920 non-null  int64
 12  extras_type       260920 non-null  object
 13  is_wicket         260920 non-null  int64
 14  player_dismissed  260920 non-null  object
 15  dismissal_kind    260920 non-null  object
 16  fielder           9354 non-null    object
 17  match_year        260920 non-null  int64
dtypes: int64(9), object(9)
memory usage: 35.8+ MB

,match_id,inning,over,ball,batsman_runs,extra_runs,total_runs,is_wicket,match_year
count,260920.000000,260920.000000,260920.000000,260920.000000,260920.000000,260920.000000,260920.000000,260920.000000,260920.000000
mean,550.080454,1.483531,9.197677,3.624486,1.265001,0.067806,1.332807,0.049632,2016.161007
std,316.471716,0.502643,5.683484,1.814920,1.639298,0.343265,1.626416,0.217184,4.951596
min,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2008.000000
25%,277.000000,1.000000,4.000000,2.000000,0.000000,0.000000,0.000000,0.000000,2012.000000
50%,551.000000,1.000000,9.000000,4.000000,1.000000,0.000000,1.000000,0.000000,2016.000000
75%,825.000000,2.000000,14.000000,5.000000,1.000000,0.000000,1.000000,0.000000,2021.000000
max,1095.000000,6.000000,19.000000,11.000000,6.000000,7.000000,7.000000,1.000000,2024.000000

In [11]:
df.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batter', 'bowler', 'non_striker', 'batsman_runs', 'extra_runs',
       'total_runs', 'extras_type', 'is_wicket', 'player_dismissed',
       'dismissal_kind', 'fielder', 'match_year'],
      dtype='object')

#### handling missing values

In [13]:
df.dropna(subset=['batter', 'bowler', 'total_runs'], inplace=True)

In [14]:
# 3. Fill missing values for less important fields
df['extras_type'] = df['extras_type'].fillna("None")
df['fielder'] = df['fielder'].fillna("None")
df['dismissal_kind'] = df['dismissal_kind'].fillna("Not Out")
df['player_dismissed'] = df['player_dismissed'].fillna("None")

In [15]:
# 4. Convert datatypes
df['match_id'] = df['match_id'].astype(int)
df['inning'] = df['inning'].astype(int)
df['over'] = df['over'].astype(int)
df['ball'] = df['ball'].astype(int)
df['batsman_runs'] = df['batsman_runs'].astype(int)
df['extra_runs'] = df['extra_runs'].astype(int)
df['total_runs'] = df['total_runs'].astype(int)
df['is_wicket'] = df['is_wicket'].astype(int)
df['match_year'] = df['match_year'].astype(int)

In [16]:
# 5. Standardize team names (remove case differences, trailing spaces, etc.)
df['batting_team'] = df['batting_team'].str.strip().str.title()
df['bowling_team'] = df['bowling_team'].str.strip().str.title()

In [18]:
# 6. Optional: Remove superfluous columns (if not needed for analysis)
df.drop(columns=['non_striker'], inplace=True)

In [19]:
# 7. Verify cleaned dataset
print(df.isnull().sum())   # should be minimal now
print(df.head())

match_id            0
inning              0
batting_team        0
bowling_team        0
over                0
ball                0
batter              0
bowler              0
batsman_runs        0
extra_runs          0
total_runs          0
extras_type         0
is_wicket           0
player_dismissed    0
dismissal_kind      0
fielder             0
match_year          0
dtype: int64
   match_id  inning           batting_team                 bowling_team  over  \
0         1       1  Kolkata Knight Riders  Royal Challengers Bengaluru     0
1         1       1  Kolkata Knight Riders  Royal Challengers Bengaluru     0
2         1       1  Kolkata Knight Riders  Royal Challengers Bengaluru     0
3         1       1  Kolkata Knight Riders  Royal Challengers Bengaluru     0
4         1       1  Kolkata Knight Riders  Royal Challengers Bengaluru     0

   ball                    batter                    bowler  batsman_runs  \
0     1  SC Ganguly                P Kumar                              0
1     2  BB McCullum               P Kumar                              0
2     3  BB McCullum               P Kumar                              0
3     4  BB McCullum               P Kumar                              0
4     5  BB McCullum               P Kumar                              0

   extra_runs  total_runs   extras_type  is_wicket          player_dismissed  \
0           1           1  legbyes               0  NA
1           0           0                        0  NA
2           1           1  wides                 0  NA
3           0           0                        0  NA
4           0           0                        0  NA

           dismissal_kind fielder  match_year
0  NA                        None        2008
1  NA                        None        2008
2  NA                        None        2008
3  NA                        None        2008
4  NA                        None        2008

In [20]:
df.to_csv(r"C:\Users\Sakshi\Downloads\IPL_History_Cleaned.csv", index=False)

In [21]:
df1=pd.read_csv(r"C:\Users\Sakshi\Downloads\IPL_History_Cleaned.csv")

In [25]:
# List numeric columns to clean
numeric_cols = ['match_id', 'inning', 'over', 'ball',
                'batsman_runs', 'extra_runs', 'total_runs',
                'is_wicket', 'match_year']

In [23]:
print(df1.columns.tolist())

['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball', 'batter', 'bowler', 'batsman_runs', 'extra_runs', 'total_runs', 'extras_type', 'is_wicket', 'player_dismissed', 'dismissal_kind', 'fielder', 'match_year']

In [26]:
# Convert to numeric, force invalid values to NaN
for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], errors="coerce")

In [27]:
df = df.fillna(0)

In [28]:
# Save back as cleaned CSV
df.to_csv(r"C:\Users\Sakshi\Downloads\IPL_History_Cleaned_Final.csv", index=False)

In [32]:
df1.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batter', 'bowler', 'batsman_runs', 'extra_runs', 'total_runs',
       'extras_type', 'is_wicket', 'player_dismissed', 'dismissal_kind',
       'fielder', 'match_year'],
      dtype='object')

In [33]:
df1.columns = df1.columns.str.strip()  # removes leading/trailing spaces

In [35]:
df1.to_csv(r"C:\Users\Sakshi\Downloads\IPL_History_Cleaned_Final_Stripped.csv", index=False)